/* Sticky Styling */
/* header {
    min-height: 130px;
} */
/* @media (min-height: 480px) {
    header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
}
@media (min-device-width: 576px) and (max-device-width: 1024px) and (orientation: landscape) {
    header {
        position: static;
    }
} */
footer {
    /* min-height: 130px; */
    width: 100%;
}
@media (min-height: 480px) {
    footer {
        position: -webkit-sticky;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}
@media (min-device-width: 576px) and (max-device-width: 1024px) and (orientation: landscape) {
    footer {
        position: static;
        bottom: 0;
    }
}

/*********************************************************
* HEADER PARTS
*********************************************************/
body {
    margin: 0;
}
.top-color {
    background-color: rgb(22, 176, 228);
    position: relative;
    height: 100px;
    width: 100%;
}
.logo {
    position: absolute;
    float: left;
    left: 10%;
    width: 300px;
    height: 95%;
    display: inline-flex;
    text-align: center;
}
.logo a {
    color: black;
    text-decoration: none;
}
.title {
    position: absolute;
    left: 30%;
    top: 15px;
    font-size: 25px;
}
.navbar {
    /* background-color: #333; */
    position: absolute;
    top: 25px;
    width: 40%;
    float: right;
    width: 35%;
    right: 0;
}
.navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.navbar a:hover {
    color: rgb(255, 255, 255);
}
.navbar .icon {
    display: none;
}
/* @media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: left;
      display: block;
      top: 0;
      right: 0;
    }
    .navbar {
        width: 25%;
        float: left;
        overflow: visible;
        color: white;
        background-color: #333;
    }
    .navbar a.hover {
        color: #66ff00;
    }
} */
@media screen and (max-width: 600px) {
    .title {
        display: none;
    }
    .navbar {
        position: relative;
        width: 60%;
        right: 0;
        top: -5px;
        display: block;
        /* background-color: #0af502; */
    }
    /* .navbar.responsive a {
        display: inline;
        text-align: left;
        color: black;
    } */
    .navbar a {
        color: rgb(0, 0, 0);
        font-size: 20px;
        display: inline;
    }
    .navbar a:hover {
        color: #0af502;
    }
    footer {
        position: fixed;
        bottom: 0;
    }
    .site-footer {
        border: 1px sold red;
    }
    /* .title {
        display: none;
    }
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top:0;
    }
    .navbar.responsive a {
        display: block;
        text-align: left;
        color: white;
    }
    .navbar a {
        color: white;
    }
    .navbar a:hover {
        color: #0af502;
    }
    footer {
        position: fixed;
        bottom: 0;
    }
    .site-footer {
        border: 1px sold red;
    } */
}
/*********************************************************
* DROPDOWN
*********************************************************/

.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #c07878;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(65, 60, 60, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    /* color: rgb(240, 229, 229); */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* .dropdown-content a:hover {
    background-color: rgb(224, 209, 209);
} */

.dropdown:hover .dropdown-content {
    display: block;
}
/*********************************************************
* WELCOME
*********************************************************/
.welcome {
    text-align: justify;
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 18px;
}
.welcome h3 {
    text-align: center;
}

/*********************************************************
* FOOTER
*********************************************************/
footer {
    /* border: 1px solid red; */
    position: relative;
    bottom: 0%;
    background-color: lightslategray;
}
.site-footer {
    position: relative;
    width: 100%;
    bottom: 0;
    text-decoration: none;
}
.widget {
    display: inline-table;
    padding-left: 8%;
}
.widget a {
    text-decoration: none;
    color: black;
}
.widget a:hover {
    color: rgb(255, 255, 255);
}
span a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.copy-right {
    position: relative;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background-color: rgb(95, 102, 109);
}

/*********************************************************
* SOCIAL MEDIA LOGO
*********************************************************/

.social-media {
    position: relative;

}
.fa {
    padding: 10px;
    border-radius: 5px;
    font-size: 10px;
    width: 10px;
    height: 10px;
    text-align: center;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 12px;
    margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
}
.fa-youtube {
    background: #bb0000;
}
.fa-instagram {
    background: #e4405f;
}
/*********************************************************
* SERVICE
*********************************************************/


/*********************************************************
* ABOUT US
******************************************************** */


/*********************************************************
* EVENT
/********************************************************* */
.event-container {
    position: relative;
    height: 20%;
    top: 20px;
    padding-top: 10%;
    padding-bottom: 10%;
}
.col {
    position: absolute;
    display: inline-table;
    width: 40%;
}
.left {
    position: relative;
    left: 10%;
}
.right {
    position: relative;
    left: 15%;
}
.media .dateEl {
    display: flex;
    text-align: center;
    background: #f9f9f9;
    padding: 18px 0 25px 0;
    color: #173d51;
    font-size: 16px;
    font-weight: 700;
    width: 113px;
    text-transform: uppercase;
}
.media .dateEl em {
    display: block;
    color: #662d91;
    font-size: 42px;
    line-height: 1;
    margin-bottom: 5px;
    font-style: normal;
}
.media .media-heading a {
    color: #022235;
    font-size: 21px;
    text-transform: uppercase;
}
.media .meta-data {
    margin: 0 0 7px 0;
}
.media .longDate, .media .timeEl {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    color: #636465;
    text-transform: uppercase;
    min-height: 16px;
}

/*********************************************************
* Users EJS
/********************************************************* */

.ejs-container {
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;

}
.div1 {
    position: relative;
    left: 15%;
    width: 80%;
    padding-top: 10%;
}
table {
    position: relative;
    width: 80%;
    padding-bottom: 20%;
}
th {
    font-size: 25px;
    text-align: left;
    text-decoration: underline;
}

h1 {
    text-align: center;
}
label {
    display: block;
    font-size: 30px;
    color: red;
}
.div2 {
    position: absolute;
    width: 70%;
    left: 20%;
}
.div2 a {
    font-size: 25px;
}
.div-edit {
    position: relative;
    width: 60%;
    left: 20%;
    padding-bottom: 30%;
}
.div-show {
    position: relative;
    width: 60%;
    left: 30%;
    font-size: 25px;
    padding-top: 10%;
    padding-bottom: 30%;
}
.div-show p {
    position: relative;
    padding-top: 10%;
}
.div-index {
    position: relative;
    width: 90%;
    left: 8%;
}
.field {
    position: relative;
    font-size: 20px;
}
.form-control {
    width: 80%;
    height: 30px;
    font-size: 20px;
}
select {
    height: 30px;
    font-size: 20px;
}
.actions {
    height: 25px;
    font-size: 20px;
}
input {
    font-size: 20px;
}
